@using JapaneseLearningPlatform.Data.ViewModels
@using JapaneseLearningPlatform.Data.Static


@model ClassroomInstanceDetailVM
@{
    ViewData["Title"] = Model.Template.Title;
    ViewData["HideNavbar"] = false;
    ViewData["HideFooter"] = false;
}

<div class="container mt-4">
    <h2 class="fw-bold text-center">@Model.Template.Title</h2>

    <div class="row mt-4">
        <div class="col-md-7">
            <img src="@Model.Template.ImageURL" alt="Thumbnail" class="img-fluid rounded shadow" />
        </div>

        <div class="col-md-5">
            <p><strong>Description:</strong> @Model.Template.Description</p>
            <p><strong>Language Level:</strong> @Model.Template.LanguageLevel</p>
            <p><strong>Session Time:</strong> @($"{Model.Instance.ClassTime.Hours:D2}:{Model.Instance.ClassTime.Minutes:D2}")</p>
            <p><strong>Start:</strong> @Model.Instance.StartDate.ToShortDateString()</p>
            <p><strong>End:</strong> @Model.Instance.EndDate.ToShortDateString()</p>
            <p><strong>Partner:</strong> @Model.PartnerName</p>
            <p><strong>Status:</strong> @Model.Instance.Status</p>
            <p><strong>Price:</strong> @(Model.IsPaid? Model.Instance.Price.ToString("C") : "Free")</p>

            <p><strong>Enrollments:</strong> @Model.EnrollmentCount / @Model.Instance.MaxCapacity</p>

        </div>
    </div>
    <div class="mt-5 border-top pt-4 d-flex justify-content-center gap-3">
        <a asp-action="Index" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left"></i> Back to Classrooms
        </a>

        @if (User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Learner))
        {
            if (!Model.IsEnrolled)
            {
                <form asp-action="JoinClassroom" asp-route-id="@Model.Instance.Id" method="post">
                    <a class="btn btn-success" asp-controller="ClassroomInstances" asp-action="PayWithPaypal" asp-route-id="@Model.Instance.Id">
                        Join & Pay with PayPal
                    </a>
                </form>
            }
            else
            {
                <a asp-controller="ClassroomInstances" asp-action="Content" asp-route-id="@Model.Instance.Id" class="btn btn-primary">
                    <i class="bi bi-journal-bookmark"></i> View Contents
                </a>

            }
        }
    </div>
</div>

