@using JapaneseLearningPlatform.Models
@model List<Order>

@{
    ViewData["Title"] = "Tất cả đơn hàng";
    ViewData["HideNavbar"] = false;
    ViewData["HideFooter"] = false;
}

@section Styles {
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-8 offset-2">
        <h4>Danh sách tất cả đơn hàng của bạn</h4>

        <table class="table">
            <thead>
                <tr>
                    <th>Mã đơn hàng</th>
                    <th>Số lượng & Khóa học</th>
                    <th>Tổng cộng</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>Người dùng</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td class="align-middle">@order.Id</td>
                        <td class="align-middle">
                            <ul class="list-unstyled mb-0">
                                @foreach (var item in order.OrderItems)
                                {
                                    <li>
                                        <div class="alert alert-info py-1" role="alert">
                                            <span class="badge bg-success">@item.Amount</span>
                                            [@item.Price.ToString("c")] – @item.Course.Name
                                        </div>
                                    </li>
                                }
                            </ul>
                        </td>
                        <td class="align-middle">
                            @order.OrderItems.Sum(m => m.Course.FinalPrice * m.Amount).ToString("c")
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <td class="align-middle">@order.User.FullName</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
